<!DOCTYPE html>
<html lang="en">
<head>
    <%-include header.ejs%>
  <script src="<%=url%>/javascripts/ECC.js"></script>
  <script type="text/javascript" src="<%=url%>/javascripts/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="<%=url%>/stylesheets/bootstrap-datepicker3.css"/>
  <link rel="stylesheet" href="<%=url%>/stylesheets/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h2>Đăng Ký IC

      </h2>
    </div>
    <div class="col-sm-3">

      <h2>
        <!--<a href="/logout" title="Logout">-->
          <!--<i class="fa fa-sign-out" aria-hidden="true" ></i>-->
        <!--</a>-->
          <%-include infor_user.ejs%>

      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <button type="button" id="create_r"  class="btn btn-primary" style="font-size:10px;margin: 5px 0px">
       Chọn số ngẫu nhiên
      </button>
    </div>
    <div class="col-sm-10">
      <h4 id="radom" style=" margin-left: 10px;" id="r" title="Click make radom number"></h4>
    </div>
    <div class="col-sm-1">
      <a type="button" id="save" download="r.txt" class="btn btn-primary" style="font-size:10px;margin: 5px 0px;display: none">
        Lưu lại
      </a>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-col-xs-12">

        <!-- Form code begins -->
          <div class="form-group"> <!-- Date input -->
            <label for="usr">Identity:</label>
            <input type="text" class="form-control" name="id" id="id" value="<%=user%>" >
          </div>
          <!--<div class="form-group"> &lt;!&ndash; Date input &ndash;&gt;-->
            <!--<label for="pwd">Password:</label>-->
            <!--<input type="password" class="form-control" name="pass" id="pass">-->
          <!--</div>-->
        <div class="form-group"> <!-- Date input -->
          <label for="pwd">CA cung cấp:</label>
          <input type="text" class="form-control" id="ca" name="Identity" value="<%=Identity%>">
        </div>

          <div class="form-group"> <!-- Date input -->
            <label class="control-label" for="date">Ngày hết hạn IC:</label>
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
          </div>



          <div class="form-group"> <!-- Submit button -->
            <button class="btn btn-primary "  type="submit" id="submit">Đăng ký</button>
          </div>
        <!-- Form code ends -->

      </div>
    </div>
  </div>



</body>
<script>

  $(document).ready(function () {



      var textFile = null
      function makeTextFile(text) {
          var data = new Blob([text], {type: 'text/plain'});

          // If we are replacing a previously generated file we need to
          // manually revoke the object URL to avoid memory leaks.
          if (textFile !== null) {
              window.URL.revokeObjectURL(textFile);
          }

          var textFile = window.URL.createObjectURL(data);

          return textFile;
      }

      $('#create_r').click(function () {
          var text = document.getElementById("radom").innerHTML = bigInt.randBetween(0,curve.n);
          alert('Lưu lại giá trị ngẫu nhiên để tạo khóa !')
          var url = makeTextFile(text)
          $('#save').attr("href", url );
          $('#save').css("display", "block")
      })



      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      date_input.datepicker({
          format: 'mm/dd/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
      })


      $('#submit').click(function () {
          var timeInMs = Date.now();
          var id =  $('#id').val()
          var date = $('#date').val()
          var time_date = new Date(date)
          time_date = time_date.getTime()
          var ca = $('#ca').val()
          var r = $('#radom').text()
          var R = make_keypair(r).public_key
          if((timeInMs-time_date)>= 0){
              alert('Chọn lại ngày hết hạn !')
          }else if(id&&date&&ca&&r){
              $.ajax({
                  url:"/user/dkyIC",
                  type:"post",
                  dataType:"json",
                  data : {id:id,date:time_date.toString(),ca:ca,R :R,r:r},
                  success:function (result) {
                      window.location.replace("/user/taokhoa");
                  }
              })
          }else {
              alert('Nhập đầy đủ thông tin')
          }

      })

  })
</script>

</html>