<meta charset="UTF-8">
<title>Title</title>
<script language="javascript" src="<%=url%>/javascripts/jquery-3.2.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="<%=url%>/bootstrap/css/bootstrap.min.css">
<script src="<%=url%>/bootstrap/js/bootstrap.min.js"></script>
<script src="<%=url%>/javascripts/BigInteger.min.js"></script>
<link rel="stylesheet" href="<%=url%>/stylesheets/font-awesome/css/font-awesome.min.css">