<!DOCTYPE html>
<html lang="en">
<head>
    <%-include header.ejs%>
    <script src="<%=url%>/javascripts/ECC.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h2>Tạo khóa

      </h2>
    </div>
    <div class="col-sm-3">
      <h2>
          <%-include infor_user.ejs%>
      </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm- col-xs-12">

      <!-- Form code begins -->
      <div class="row"> <!-- Date input -->
        <div class="col-sm-2">
          <h4>
            <label for="pwd">IC:</label>
          </h4>
        </div>
        <div class="col-sm-2">
          <h4 for="pwd"><%= IC%></h4>
        </div>
      </div>


      <div class="row"> <!-- Date input -->
        <div class="col-sm-2">
          <h4>
            <label for="pwd">s:</label>
          </h4>
        </div>
        <div class="col-sm-2">
          <h4 for="pwd"><%= s%></h4>
        </div>
      </div>

      <div class="form-group"> <!-- Date input -->
        <label for="pwd">Nhập r :</label>
        <input type="text" class="form-control" id="r" name="Identity" >
      </div>

      <div class="form-group"> <!-- Submit button -->
        <button class="btn btn-primary "  type="submit" id="submit">Tạo khóa</button>
      </div>
      <!-- Form code ends -->

    </div>
  </div>
</div>

<!-- Include Date Range Picker -->

</body>
<script>

    $(document).ready(function () {

        $('#submit').click(function () {
            var r =  $('#r').val()
            if(r){
                $.ajax({
                    url:"/user/taokhoa",
                    type:"post",
                    dataType:"json",
                    data : {r:r},
                    success:function (result) {
                       if(result){
                           alert("Vui lòng check email!")
                           window.location.replace("/user/dkyic");
                       }
                    }
                })
            }else {
                alert('Nhập đầy đủ thông tin')
            }

        })
    })
</script>


</html>